.menu {
  display: flex; 
}

.menu-desktop {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  li {
    margin: 0 5px;
    counter-increment: item 1;
    font-size: var(--fs-sm);

    a {
      text-decoration: none;
      padding: 10px;
      font-family: var(--font-mono);
      color: var(--default-color);
      &::before {
        content: "0" counter(item) ".";
        margin-right: 5px;
        color: var(--primary-color);
      }

      &:hover {
        color: var(--primary-color);
      }

      &.active {
        color: var(--primary-color);
      }
    }
  }

  button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: var(var(--green-tint));
    }
  }
}

.menu-mobile {
  display: block;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
  text-align: center;
  overflow: auto;
  li {
    margin: 0 5px;
    counter-increment: item 1;
    font-size: var(--fs-xl);
    margin: 0px auto 16px;
    a {
      text-decoration: none;
      padding: 10px;
      font-family: var(--font-mono);
      color: var(--default-color);
      &::before {
        content: "0" counter(item) ".";
        margin-right: 5px;
        color: var(--primary-color);
        display: block;
      }

      &:hover {
        color: var(--primary-color);
      }

      &.active {
        color: var(--primary-color);
      }
    }
  }

  button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    font-size: var(--fs-md);
    background-color: transparent;
    margin: 10% 0 0;
    cursor: pointer;
    &:hover {
      background-color: var(var(--green-tint));
    }
  }
}

.hamburger-menu {
  color: var(--primary-color);
  font-size: 36px;
  width: 36px;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}