<h2 class="font-semibold text-4xl">Contact Me</h2>
<div class="grid grid-cols-6 mt-4">
  <div class="lg:col-span-3 col-span-6">
    <p class="text-lg">If you have any questions about this page or want to contact me for working. Feel free to sent me
      a message. I
      will
      get back to you as soon as I can.</p>
    <p class="mt-4 font-semibold underline text-lg">Also you can contact me through:</p>
    <div class="mt-4">
      <i class="fa fa-phone text-red-600" aria-hidden="true"></i>
      <span class="ml-4 font-semibold">0346961330</span>
    </div>
    <div class="mt-4">
      <i class="fa fa-facebook-square text-blue-600" aria-hidden="true"></i>
      <span class="ml-4 font-semibold">https://www.facebook.com/AndyTu.Hoang</span>
    </div>
    <div class="mt-4">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <span class="ml-4 font-semibold">htu25399@gmail.com</span>
    </div>
    <div class="mt-4">
      <i class="fa fa-github" aria-hidden="true"></i>
      <span class="ml-4 font-semibold">https://github.com/AndyT2503</span>
    </div>
  </div>
  <div class="lg:col-span-3 col-span-6 lg:pl-4 xl:mt-auto mt-4 flex justify-center">
    <form class="bg-white shadow-2xl w-96 rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Your Email:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email" type="text">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
          Your Message:
        </label>
        <textarea rows="3"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="message" type="text"></textarea>
      </div>
      <div class="flex items-center justify-end">
        <button
          class="bg-blue-600 text-white hover:bg-white hover:text-blue-600 border-blue-600 rounded-xl border-solid border-2 p-2 font-medium"
          type="button" (click)="submit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div *ngIf="isModalVisible"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto max-w-sm">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <div class="relative px-4 py-2 flex-auto">
        <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
          Sorry, I have not implemented this function. If you have any question, please sent mail to me.
        </p>
      </div>
      <div class="flex ml-auto mr-auto px-4 pb-2 rounded-b">
        <button
          class="bg-blue-600 text-white hover:bg-white w-20 hover:text-blue-600 rounded-xl border-blue-600 border-solid border-2 p-2 font-medium uppercase"
          type="button" (click)="closeModal()">
          ok
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isModalVisible" class="opacity-25 fixed inset-0 z-40 bg-black"></div>`