header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: stretch;
  background-color: var(--base-color);
  opacity: 0.99;
  padding-left: 50px;
  padding-right: 50px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

  @media (max-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.hidden-header {
  transform: translateY(calc(100px * -1));
}

app-logo {
  width: 42px;
  height: 42px;
}