<section id="about">
  <div class="header">
    <h4>About Me</h4>
  </div>
  <div class="content-layout">
    <div class="content">
      <p>
        Hello! My name is Tu Hoang. I'm 23. I'm a software engineer based in Ho
        Chi Minh city. I have 2 years experience working with .NET Core and
        Angular.
      </p>
      <p>
        Out of work, I really like traveling. Anytime that I have spare times, I
        will travel to somewhere and enjoy my life. My goal is to travel around
        Vietnam. I also hope that I can travel abroad and live in another
        country in 1 or 2 months.
      </p>
      <p>
        Now, I'm working remotely at <a href="https://tagform.com.my/" target="_blank">TagForm.com.my</a> from
        Malaysia. Besides, I'm a part-time Business Analyst at
        <a href="https://gosmartlog.com/" target="_blank">Smartlog Vietnam</a>, which is the first company I worked at
        software engineer position. In the future, I want to learn more about
        Angular and .NET core and have deep knowledge of these.
      </p>
      <p>Here are a few technologies I've been working with recently:</p>
      <ul>
        <li>JavaScript (ES6+)</li>
        <li>Angular</li>
        <li>Ionic</li>
        <li>.NET Core</li>
        <li>Django</li>
        <li>Typescript</li>
      </ul>
    </div>
    <div class="image">
      <div class="wrapper">
        <img src="assets/img/avatar.jpg" alt="avatar">
      </div>
    </div>
  </div>
</section>
