<section id="about">
  <div class="header">
    <h4>About Me</h4>
  </div>
  <div class="content-layout">
    <div class="content">
      <p>
        Hello! My name is Tu Hoang. I'm 25. I'm a software engineer based in Ho
        Chi Minh city. I have 4 years of experience working with .NET Core and
        Angular. Currently, I work mainly with Angular.
      </p>
      <p>
        Out of work, I really like traveling. Whenever I have spare times, I
        will travel to somewhere. My goal is to travel all 63 provinces in
        Vietnam and visit 5 continents.
      </p>
      <p>
        Now, I'm a Senior Software Engineer at
        <a href="https://www.tecalliance.net/" target="_blank">TecAlliance</a>.
        In the future, I want to become the Angular Google Developer Expert (GDE).
      </p>
      <p>Here are a few technologies I've been working with recently:</p>
      <ul>
        <li>JavaScript (ES6+)</li>
        <li>Angular</li>
        <li>Ionic</li>
        <li>.NET Core</li>
        <li>NestJs</li>
        <li>Typescript</li>
      </ul>
    </div>
    <div class="image">
      <div class="wrapper">
        <img src="assets/img/avatar.jpg" alt="avatar" />
      </div>
    </div>
  </div>
</section>
