<section id="work">
  <div class="header">
    <h4>Some Things I've Built</h4>
  </div>
  <div class="featured-projects">
    @for (item of listFeaturedProject(); track item.name; let isOdd = $odd) {
      <div class="project-item">
        <app-featured-project [projectData]="item" [position]="isOdd ? 'left' : 'right'"></app-featured-project>
      </div>
    }
  </div>
  <div class="other-projects">
    <h4>Other Noteworthy Projects</h4>
    <div class="list-other-project">
      @for (item of listOtherProject(); track item.name) {
        <app-normal-project [projectData]="item"></app-normal-project>
      }
    </div>
  </div>
</section>
