<h2 class="font-semibold text-4xl">Hi, I'm Tu Hoang.</h2>
<p class="mt-4 text-lg">I'm a web developer based in Ho Chi Minh, Viet Nam. I'm 22 years old. I graduated at University
  of Information
  Technology. I have 1 year experience with .NET Core and Angular. I currently working at <a target="_blank"
    class="text-blue-600 underline" href="https://gosmartlog.com/about-smartlog/?lang=en">Smartlog Vietnam</a>.</p>
<p class="mt-4 text-lg">In my spare time, I like watching tech videos or reading tech blogs. Besides, I sometimes build
  my own project. There
  are small project like this portfolio, but it help me improve coding skills. I want to improve my front-end coding
  skill, and I can become Senior Angular Developer in next 1 or 2 years. </p>
<p class="mt-4 text-lg">I like playing esports (LOL, CS:GO,...) and sports (badminton, basketball,...). Also, I really
  like travelling. When I
  have a vacation, I will travel to
  beautiful scenery in Vietnam. I hope will I have opportunity to travel abroad after Covid-19 ending.</p>
<p class="mt-4 text-lg">You can usually find me on <a class="text-blue-600 underline" target="_blank"
    href="https://www.facebook.com/profile.php?id=100005495376057">Facebook</a>. For working, please <span
    class="text-blue-600 underline cursor-pointer" (click)="goToContact()">contact</span> me.
</p>
<div class="mt-4 mb-4 grid grid-cols-2 gap-2">
  <div class="lg:col-span-1 col-span-2 flex justify-center">
    <div>
      <img src="assets/sapa.jpg" alt="sapa" class="h-96">
      <h4 class="font-medium flex justify-center">"The roof of Indochina" Fansipan</h4>
    </div>
  </div>
  <div class="lg:col-span-1 col-span-2 flex justify-center">
    <div>
      <img src="assets/dalat.jpg" alt="dalat" class="h-96 w-72">
      <h4 class="font-medium flex justify-center">Da Lat, Vietnam</h4>
    </div>
  </div>
</div>