<h2 class="font-semibold text-4xl">Projects</h2>
<p class="mt-4 text-lg">There are some projects which I make for myself or my company.</p>
<div class="grid grid-cols-5 mt-16 gap-y-16 mb-8">
  <div class="sm:col-span-2 col-span-5">
    <div class="flex items-center box-shadow-custom transition duration-500 ease-in-out h-full w-3/4 bg-gray-200 hover:-translate-y-2 hover:scale-110">
      <img class="w-full"
      src="assets/projects/Gifphy.PNG" alt="gifphy">
    </div>
  </div>
  <div class="sm:col-span-3 col-span-5 flex items-center">
    <div>
      <h4 class="block font-semibold text-3xl">Giphy Clone</h4>
      <p class="block mt-4 text-lg">Gifphy Clone App is Giphy's Trending clone page. You can search, watch trending Gif
        on Gifphy. </p>
      <ul class="mt-4 text-gray-500 text-base">
        <li class="mt-2"><i class="fa fa-angle-double-right"></i>
          Angular</li>
        <li class="mt-2"><i class="fa fa-angle-double-right"></i>
          Akita State Management</li>
        <li class="mt-2"><i class="fa fa-angle-double-right"></i>
          Ng Zorro Ant Design</li>
      </ul>
      <button
        class="bg-blue-600 text-white hover:bg-white hover:text-blue-600 border-blue-600 border-solid border-2 rounded-3xl p-2 font-medium mt-8"
        routerLink="gifphy-clone">View Details</button>
    </div>
  </div>
  <div class="sm:col-span-2 col-span-5">
    <div class="flex items-center box-shadow-custom transition duration-500 ease-in-out h-full w-3/4 bg-gray-200 hover:-translate-y-2 hover:scale-110">
      <img class="w-full"
      src="assets/projects/COS.PNG" alt="COS">
    </div>
  </div>
  <div class="sm:col-span-3 col-span-5 flex items-center">
    <div>
      <h4 class="block font-semibold text-3xl">Container Optimization Solution</h4>
      <p class="block mt-4 text-lg">This is company's project which is platform connecting logistics providers and
        shipping lines and aiming at changing the way we use a shipping container. </p>
      <ul class="mt-4 text-gray-500 text-base">
        <li class="mt-2"><i class="fa fa-angle-double-right"></i>
          Angular</li>
        <li class="mt-2"><i class="fa fa-angle-double-right"></i>
          .Net Core (ASP.NET Zero)</li>
        <li class="mt-2"><i class="fa fa-angle-double-right"></i>
          PostgresSQL</li>
      </ul>
      <button
        class="bg-blue-600 text-white hover:bg-white hover:text-blue-600 border-blue-600 border-solid border-2 rounded-3xl p-2 font-medium mt-8"
        routerLink="cos">View
        Details</button>
    </div>
  </div>
</div>