:root {
  --base-color: #0A192F;
  --default-color: #CCD6F6;
  --primary-color: #50CDB5;
  --secondary-color: #381866;
  --tertiary-color: #7E88A5;
  --light-slate: #a8b2d1;
  --light-navy: #112240;
  --green-tint: rgba(100,255,218,0.1);
}