<article class="article" (click)="showDetail()">
  <span class="tag">
    <span>{{ blogItem.type }}</span>
  </span>
  <a class="article-image" (click)="showDetail()">
    <img
      [alt]="blogItem.title"
      src="content/images/{{ blogItem.slug }}/default.jpg"
    />
  </a>
  <span class="footer">
    <a class="title" (click)="showDetail()">{{
      blogItem.title
    }}</a>
    <div class="meta-data">
      <p class="date">{{ blogItem.date }}</p>
      <p class="reading-time">{{ readingTime() }} min read</p>
    </div>
  </span>
</article>
