<a class="blog-card rt-glass" [routerLink]="['/blog', blogItem.slug]">
  <div class="blog-card__tag">{{ blogItem.type }}</div>

  <h3 class="blog-card__title">{{ blogItem.title }}</h3>

  <p class="blog-card__desc">{{ blogItem.description }}</p>

  <div class="blog-card__meta">
    <div class="blog-card__meta-left">
      <div class="blog-card__meta-item">
        <app-lucide-icon name="calendar" [size]="12"></app-lucide-icon>
        <span>{{ blogItem.date }}</span>
      </div>
      <div class="blog-card__meta-item">
        <app-lucide-icon name="clock" [size]="12"></app-lucide-icon>
        <span>{{ readingTime() }} min</span>
      </div>
    </div>
    <app-lucide-icon name="arrow-right" [size]="14" class="blog-card__arrow"></app-lucide-icon>
  </div>
</a>
