<ul>
  <li>
    <a href="https://github.com/AndyT2503" target="_blank"
      ><i nz-icon nzType="github" nzTheme="outline"></i
    ></a>
  </li>
  <li>
    <a href="https://www.instagram.com/htu.18/" target="_blank"
      ><i nz-icon nzType="instagram" nzTheme="outline"></i
    ></a>
  </li>
  <li>
    <a href="https://www.facebook.com/AndyTu.Hoang/" target="_blank"
      ><i nz-icon nzType="facebook" nzTheme="outline"></i
    ></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/tu-hoang-787951195/" target="_blank"
      ><i nz-icon nzType="linkedin" nzTheme="outline"></i
    ></a>
  </li>
</ul>
