.container {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-width: 1600px;
  @media (max-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}


#shape {
  stroke-dasharray: 1000;
  animation: dash 5s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
