section {
  display: flex;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width: 1000px;

  @media (max-width: 1280px) {
    max-width: 900px;
  }
  div {
    p {
      font-size: var(--fs-md);
      color: var(--tertiary-color);
      font-family: var(--font-sans);
    }

    h3 {
      font-size: clamp(var(--fs-sm),5vw, var(--fs-md));
      font-family: var(--font-mono);
      color: var(--primary-color);
      font-weight: 400;
    }

    h2 {
      color: var(--default-color);
      font-family: var(--font-sans);
      font-size: clamp(40px, 8vw, 80px);
    }

    .content {
      max-width: 540px;

      a {
        color: var(--primary-color);
        text-decoration: none;
      }
    }
  }
}