<ng-template #drawerTemplate>
  @if (_isOpen) {
    <div
      [@slideInOut]="position"
      (clickOutside)="onClickOutside()"
      class="drawer"
      [style.width]="_width"
      [style.height]="_height"
      [ngClass]="'drawer-' + position"
      >
      @if (closeIcon) {
        <i
          class="close-icon"
          (click)="close()"
          nz-icon
          nzType="close"
          nzTheme="outline"
        ></i>
      }
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  }
</ng-template>
