.drawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--light-navy);
}

.drawer-left {
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
}

.drawer-right {
  top: 0;
  right: 0;
  width: 20rem;
  height: 100%;
}

.drawer-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 11rem;
}

.content {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  color: var(--primary-color);
  font-size: 36px;
  width: 36px;
  margin-left: auto;
  margin-right: 15px;
  height: 100px;
  display: flex;
  align-items: center;
}

.drawer-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11rem;
}