footer {
  text-align: center;
  a {
    font-size: var(--fs-sm);
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--font-mono);

    .github-info {
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        margin: 8px;
        display: flex;
        align-items: center;

        i {
          margin-right: 5px;
        }
      }
    }
  }
}
