h2 {
  font-size: 28px;
}

.blog__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1124px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
