<div class="content">
  <div class="top">
    <div class="header">
      <i class="icon" nz-icon nzType="folder" nzTheme="outline"></i>
      <div class="button">
        @for (item of projectData.repoUrls; track $index) {
          <i
            nz-tooltip
            [nzTooltipTitle]="item.tooltip"
            (click)="openRepo(item.url)"
            nz-icon
            nzType="github"
            nzTheme="outline"
          ></i>
        }
      </div>
    </div>
    <h2>{{ projectData.name }}</h2>
    <p>
      {{ projectData.description }}
    </p>
  </div>
  <ul>
    @for (item of projectData.tech; track $index) {
      <li>{{item}}</li>
    }
  </ul>
</div>
