.content {
  background-color: var(--light-navy);
  padding: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .top {
    .header {
      display: flex;
      margin-bottom: 20px;
      .icon {
        font-size: 40px;
        color: var(--primary-color);
      }

      .button {
        margin-left: auto;
        display: flex;
        gap: 8px;

        i {
          cursor: pointer;
          font-size: var(--fs-xxl);
          color: var(--default-color);
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    h2 {
      font-size: var(--fs-heading-2);
      color: var(--default-color);
    }

    p {
      color: var(--tertiary-color);
      font-family: var(--font-mono);
      font-size: var(--fs-lg);
    }
  }

  ul {
    padding-left: 0;
    margin: 25px 0 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: var(--tertiary-color);
    font-family: var(--font-mono);
    gap: 16px;
  }
}
