<section id="experience">
  <div class="header">
    <h4>Where I’ve Worked</h4>
  </div>
  <div class="content">
    <nz-tabset nzTabPosition="left">
      @for (item of listWorkExperience(); track $index) {
        <nz-tab [nzTitle]="item.companyName">
          <div class="tab-content">
            <h3>
              {{ item.role }}
              <span
                ><a [href]="item.url" target="_blank">&#64; {{ item.companyName }}</a></span
                >
              </h3>
              <p class="time">{{ item.time }}</p>
              <ul>
                @for (detail of item.jobDetails; track $index) {
                  <li>{{ detail }}</li>
                }
              </ul>
            </div>
          </nz-tab>
        }
      </nz-tabset>
    </div>
  </section>
