<section id="experience">
  <div class="header">
    <h4>Where I’ve Worked</h4>
  </div>
  <div class="content">
    <nz-tabset nzTabPosition="left">
      <ng-container *ngFor="let item of listWorkExperience; trackBy: trackByIndex">
        <nz-tab [nzTitle]="item.companyName">
          <div class="tab-content">
            <h3>
              {{ item.role }}
              <span
                ><a [href]="item.url" target="_blank">@ {{ item.companyName }}</a></span
              >
            </h3>
            <p class="time">{{ item.time }}</p>
            <ul>
              <li *ngFor="let detail of item.jobDetails; trackBy: trackByIndex">{{ detail }}</li>
            </ul>
          </div>
        </nz-tab>
      </ng-container>
    </nz-tabset>
  </div>
</section>
