section {
  padding: 100px 0;
  min-height: 70vh;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  .header {
    h4 {
      font-family: var(--font-mono);
      font-size: var(--fs-heading);
      margin: 10px 0px 40px;
      color: var(--default-color);
      font-weight: 600;

      &::before {
        content: "02.";
        margin-right: 8px;
        color: var(--primary-color);
        font-size: var(--fs-xxl);
        font-weight: 300;
      }
      &::after {
        content: "";
        display: inline-flex;
        width: 250px;
        height: 1px;
        background-color: var(--light-navy);
        margin-left: 16px;
        position: relative;
        bottom: 8px;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

nz-tabset {
  color: var(--tertiary-color);
}

.tab-content {
  h3 {
    font-size: var(--fs-xxl);
    color: var(--default-color);
  }

  .time {
    font-size: var(--fs-xs);
    color: var(--light-slate);
  }

  ul {
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    font-size: var(--fs-lg);


    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 30px;
      &::before {
        content: "▹";
        color: var(--primary-color);
        position: absolute;
        left: 0;
      }
    }
  }
}

:host ::ng-deep .ant-tabs-left > .ant-tabs-content-holder,
.ant-tabs-left > div > .ant-tabs-content-holder {
  border-left: none;
}

:host ::ng-deep .ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-ink-bar {
  left: 0;
}

:host ::ng-deep .ant-tabs-nav-list {
  border-left: 1px solid var(--light-navy) !important;
}

:host ::ng-deep .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
  height: fit-content;
}
