section {
  padding: 100px 0;
  min-height: 50vh;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h3 {
    font-size: var(--fs-md);
    font-family: var(--font-mono);
    color: var(--primary-color);
    font-weight: 400;

    &::before {
      content: "05.";
      margin-right: 8px;
      font-weight: 300;
    }
  }

  h2 {
    font-family: var(--font-mono);
    font-size: var(--fs-heading);
    color: var(--default-color);
    font-weight: 600;
  }

  p {
    font-size: var(--fs-md);
    color: var(--tertiary-color);
    font-family: var(--font-sans);
  }

  button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    font-size: var(--fs-md);
    background-color: transparent;
    margin: 10px 0 0;
    cursor: pointer;
    &:hover {
      background-color: var(var(--green-tint));
    }
  }
}
