@import "color";
@import "font";
@import "font-size";
body {
  background-color: var(--base-color);
  font-family: var(--font-sans);

}

markdown {
  color: var(--default-color);
  h1, h2, h3, h4, h5, h6 {
    color: var(--default-color);
  }
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color);
}
