<div class="layout rt-page">
  <div class="layout__home">
    <app-mobile-header></app-mobile-header>
    <app-side-nav
      [navItems]="navItems"
      [activeSection]="activeSection()"
      (onClickNavItem)="clickNavItem($event)"
    ></app-side-nav>

    <main class="layout__content layout__content--home">
      <router-outlet></router-outlet>
    </main>

    <app-bottom-nav
      [navItems]="navItems"
      [activeSection]="activeSection()"
      (onClickNavItem)="clickNavItem($event)"
    ></app-bottom-nav>
    @defer (on timer(2s)) {
      <app-repo-stats />
    }
  </div>
</div>
