<section id="intro"><app-intro /></section>
<section id="about">
  @defer (on viewport; hydrate on viewport) {
    <app-about />
  } @placeholder {
    <div class="section-placeholder"></div>
  }
</section>
<section id="experience">
  @defer (on viewport; hydrate on viewport) {
    <app-experience />
  } @placeholder {
    <div class="section-placeholder"></div>
  }
</section>
<section id="projects">
  @defer (on viewport; hydrate on viewport) {
    <app-projects />
  } @placeholder {
    <div class="section-placeholder"></div>
  }
</section>
<section id="blog">
  @defer (on viewport; hydrate on viewport) {
    <app-blog />
  } @placeholder {
    <div class="section-placeholder"></div>
  }
</section>
<section id="contact">
  @defer (on viewport; hydrate on viewport) {
    <app-contact />
  } @placeholder {
    <div class="section-placeholder"></div>
  }
</section>
