<div>
  <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 84 96">
    <title>Logo</title>
    <g transform="translate(-8.000000, -2.000000)">
      <g transform="translate(11.000000, 5.000000)">
        <path
          id="text"
          d="M 29 64 L 23 64 L 35 23 L 44 23 L 56 64 L 50 64 L 45 46 L 34 46 Z M 44 42 L 42 30 L 37 30 L 35 42 z Z"
          fill="currentColor"
        ></path>
        <polygon
          id="shape"
          stroke="currentColor"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"
          points="39 0 0 22 0 67 39 90 78 68 78 23"
        ></polygon>
      </g>
    </g>
  </svg>
</div>
